/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
  font-family: monospace, sans-serif, serif;
}

h1 {
	flex: 1;
	text-align: center;
	margin-bottom: 5%;
	font-size: 20px;
}

.body-calc {
	display: flex;
	flex: 0 1 30%;
	flex-direction: column;
	box-shadow: 4px 4px 20px #333;
	padding: 20px;
	background: #dfd8d0;
	position: relative;
	margin: 46px auto;
	height: 100%;
	border-radius: 10px;
}

.display-screen {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
	margin-bottom: 5%;
	padding: 0;
}

.ops-screen {
	padding: 8px;
	flex: 1;
	overflow: hidden;
	border: none;
	resize: none;
	background: #fff;
	text-align: right;
	height: 30px;
	font-size: 1.5em;
	margin-bottom: 0;
}

.final-screen {
	flex: 1;
	text-align: right;
	height: 40px;
	background: #fff;
	border-top: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 8px;
	font-size: 2em;
	border: none;
}

button {
	flex: 1 1 0px;
	border-radius: 15px;
	height: 65px;
	margin-left: 2%;
	margin-right: 2%;
	background: linear-gradient(to right, #393939, #3a3a3a, #424242);
	color: #fff;
	font-size: 20px;
}

button:active, button:focus {
	outline: 0;
}

.row {
	display: flex;
	flex: 1 1 auto;
	margin-bottom: 2%;
}

.last-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1 1 auto;
}

.last-row-btns {
	flex: 0 0 auto;
	padding: 0 30px;
}

.eq-btn {
	flex: 0 0 auto;
	margin-left: auto;
	padding: 0 20%;
}

.clear-btns {
  background: #a72d45;
}
